body{
  display: flex;
  justify-content: center;
 align-items: center;
  height: 100vh;
}
.box { 

          justify-items: center;
        
          color: #e9ebec;
           width: 260px;
           height: 300px;
         background-image: linear-gradient(to left, rgba(0,67,116,0.6) -26.48%, rgba(0,51,102,0.6) 73.52%);

        
        
           
           }
          .text{
           position: relative;
           top: 20px;
           text-align: center;           
          }
          body{
         background-image: url("../../images/sunset.jpg");
        
          }
          p{ 
                   padding: 50px;
                    /* position: relative; */
                    top: 10px;
                    color: rgb(255, 255, 255);
                    font-size: 20px;
                    align-items: center;
          }
          label{
                    font-size: 20px;
                    position: relative;
                  
          }
          .conteiner{
         
           margin: 20px;
         
           
          }